section article {
    background-image: linear-gradient(rgba(210, 105, 30, 0.817), rgba(255, 0, 0, 0.806));
    /* padding: 20px 50px 100px 50px; */
    margin-bottom: 20px;

}


section article h3 {
    color: yellow;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    p {
        font-family:Arial, Helvetica, sans-serif; 
    }
}


.ulentradas {
    background-color: aqua;
    list-style: none;
    text-align: center;
}

.lientredas {
    text-decoration: none;
    color: deeppink;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px; 
}

.fondogrid {
    background-image: linear-gradient(rgba(210, 105, 30, 0.813), rgba(255, 0, 0, 0.751));
    height: 250px;
}

.parrafosanitarias {
    color:aqua;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
}