.redes {
    width: 30px;
}

section article p {
    font-family:Arial, Helvetica, sans-serif;

}

.imagenmediana {
    width: 500px;
    margin-left: 5px;
    margin-right: 5px;
}

h2 {
    color: greenyellow;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    padding: 5px, 5px, 5px, 5px;
}

.parrafo {
    color:aqua;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    word-spacing: 5px;
    padding: 5px;
}

.negritaSansserif{
    font-weight: bold;
    font-family: Impact, sans-serif;
}

table {
    background-color: aqua;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;     

}

.encabezadocontacto {
    background-color: darkviolet;
    text-decoration: underline;
    color: deeppink;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    width: 340px;
}

.galerianav {
    background-color: darkviolet;
    text-decoration: underline;
    color: deeppink;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    width: 100%;
}

.galeriatitulo {
    text-transform: uppercase;
}

.galeriadesc {
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;     
}